<!doctype html>
<html lang=en>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset=utf-8>
    <link rel="stylesheet" href="mystyle.css">
    <title>MyTitle</title>
</head>
<body>
<div id="root">
    <header class="header">
        <img src="img/logo.svg" alt=logo class="header__logo" />
        <form>
            <input type="text" name="search-bar" placeholder="search" class="searchbar" />
        </form>
        <form class="sortbar">
            <label for="sort" class="sortbar__label">sort by:</label>
            <select id="sort" name="sort" class="sortbar__select">
                <option value="title">title</option>
                <option value="year">year</option>
                <option value="rating">rating</option>
            </select>
        </form>
    </header>
    <div class="contents">
        <div class="poster">
            <img src="img/image 1.svg" alt=film-poster class="poster__img"/>
            <p class="poster__title">
                My film long long long title
            </p>
        </div>
        <div class="poster">
            <img src="img/image 1.svg" alt=film-poster class="poster__img"/>
            <p class="poster__title">
                My film long long long title
            </p>
        </div>
        <div class="poster">
            <img src="img/image 1.svg" alt=film-poster class="poster__img"/>
            <p class="poster__title">
                My film long long long title
            </p>
        </div>
        <div class="poster">
            <img src="img/image 1.svg" alt=film-poster class="poster__img"/>
            <p class="poster__title">
                My film long long long title
            </p>
        </div>
        <div class="poster">
            <img src="img/image 1.svg" alt=film-poster class="poster__img"/>
            <p class="poster__title">
                My film long long long title
            </p>
        </div>
        <div class="poster">
            <img src="img/image 1.svg" alt=film-poster class="poster__img"/>
            <p class="poster__title">
                My film long long long title
            </p>
        </div>
        <div class="poster">
            <img src="img/image 1.svg" alt=film-poster class="poster__img"/>
            <p class="poster__title">
                My film long long long title
            </p>
        </div>
        <div class="poster">
            <img src="img/image 1.svg" alt=film-poster class="poster__img"/>
            <p class="poster__title">
                My film long long long title
            </p>
        </div>
        <div class="poster">
            <img src="img/image 1.svg" alt=film-poster class="poster__img"/>
            <p class="poster__title">
                My film long long long title
            </p>
        </div>
        <div class="poster">
            <img src="img/image 1.svg" alt=film-poster class="poster__img"/>
            <p class="poster__title">
                My film long long long title
            </p>
        </div>
        <div class="poster">
            <img src="img/image 1.svg" alt=film-poster class="poster__img"/>
            <p class="poster__title">
                My film long long long title
            </p>
        </div>
        <div class="poster">
            <img src="img/image 1.svg" alt=film-poster class="poster__img"/>
            <p class="poster__title">
                My film long long long title
            </p>
        </div>
        <div class="poster">
            <img src="img/image 1.svg" alt=film-poster class="poster__img"/>
            <p class="poster__title">
                My film long long long title
            </p>
        </div>
        <div class="poster">
            <img src="img/image 1.svg" alt=film-poster class="poster__img"/>
            <p class="poster__title">
                My film long long long title
            </p>
        </div>
        <div class="poster">
            <img src="img/image 1.svg" alt=film-poster class="poster__img"/>
            <p class="poster__title">
                My film long long long title
            </p>
        </div>
    </div>
    <div class="dummy" ></div>
</div>
</body>
</html>